:root {
  --clr-prm-high-sel: hsl(180, 42%, 74%);
  --clr-prm-high: hsl(180, 66%, 49%);
  --clr-prm-dark: hsl(257, 27%, 26%);

  --clr-s-err: hsl(0, 87%, 67%);

  --clr-nt-200: hsl(225, 33%, 95%);
  --clr-nt-300: hsl(0, 0%, 75%);
  --clr-nt-400: hsl(257, 7%, 63%);
  --clr-nt-500: hsl(255, 11%, 22%);
  --clr-nt-600: hsl(260, 8%, 14%);

  --ft-fam: "Poppins";
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-family: var(--ft-fam), sans-serif;
  background-color: var(--clr-nt-600);
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
}

.dark-bg {
  background-color: var(--clr-prm-dark);
}

nav.container {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav hr {
  width: 90%;
  border: solid 1px var(--clr-nt-400);
}

nav .card {
  position: absolute;
  padding:  1rem .5rem;
  margin: 0;
  left: 50%;
  transform: translate(-50%, 60%);
  width: 95%;
  height: 0;
  transition-property: height, opacity;
  transition-duration: .5s;
}

nav .card.active {
  height: 304px;
  opacity: 100%;
}

nav .card.inactive {
  pointer-events: none;
  padding: 0;
  opacity: 0;
}

.invisible {
  opacity: 0;
}

nav .title {
  margin: 1rem;
  font-size: 2rem;
  font-weight: 700;
}

nav li {
  padding: .7rem;
}

nav .signup {
  display: inline-block;
  width: 90%;
  background-color: var(--clr-prm-high);
  color: white;
  padding: .5rem;
  border-radius: 1rem;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: var(--clr-nt-400);
  margin: 4px auto;
  transition: 0.4s;
}

.change.bar1 {
  transform: translate(0, 13px) rotate(-45deg);
}

.change.bar2 {
  opacity: 0;
}

.change.bar3 {
  transform: translate(0, -13px) rotate(45deg);
}

nav .hamburger {
  margin: 1rem;;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border-style: none;
}

footer {
  align-items: center;
  text-align: center;
  background-color: var(--clr-nt-600);
  color: white;
}

footer h3 {
  font-size: 1.5rem;
  margin: 1.5rem 0;
}

footer p {
  margin: 0;
}

footer li {
  color: var(--clr-nt-400);
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.card {
  background: var(--clr-prm-dark);
  border-radius: 1rem;
  text-align: center;
}

.card a {
  color: white;
}

nav .card {
  max-width: 20rem;
}

.call-to {
  align-items: center;
  margin-bottom: 2rem;
}

.call-to img {
  max-width: 20rem;
}

.call-to .content {
  max-width: 18rem;
  text-align: center;
}

.call-to p {
  color: var(--clr-nt-400);
}

.content a {
  display: inline-block;
  background: var(--clr-prm-high);
  margin: .5rem;
  color: white;
  padding: .75rem 1.5rem;
  border-radius: 2rem;
}

.stat {
  text-align: center;
  color: var(--clr-nt-400);
  max-width: 21rem;
}

.stat h3 {
  color: var(--clr-prm-dark);
  margin: 1rem 0 0 0;
  font-size: 1.5rem;
}

.stat p {
  margin-bottom: 0;
}

.stats img{
  position: absolute;
  transform-origin: 50% 50%;
  transform: translate(-50%, -90%);
}

.stats .icon{
  background-color: var(--clr-prm-dark);
  padding: 1rem;
  border-radius: 5rem;
  overflow:visible;
}

.stats {
  position: relative;
  padding: 2rem;
}

.stats h2 {
  margin: 0;
  text-align: left;
}

.stats p {
  color: var(--clr-nt-400);
  margin: 1rem 0;
  text-align: left;
}

.stats img {
  max-width: 4.5rem;
}

.banner {
  background-image: url("./images/bg-boost-mobile.svg");
  background-color: var(--clr-prm-dark);
  padding: 4rem 0;
  align-items: center;
  color: white;
}

.banner h2 {
  margin: 0 0 .5rem 0;
}

#link-form {
  background-image: url("./images/bg-shorten-desktop.svg");
  transform: translate(0, 50%);
  margin-top: -50px;
  max-width: 18rem;
}

#link-form input {
  height: 2.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  border-style: none;
  border-radius: .5rem;
}

#link-form button {
  background-color: var(--clr-prm-high);
  color: white;
  font-weight: 700;
  font-size: 1rem;
  height: 2.5rem;
  border-radius: .5rem;
}

#link-form button:hover {
  background-color: var(--clr-prm-high-sel);
}

#link-form.card {
  padding: 1.5rem;
}

#results{
  background-color: var(--clr-nt-200);
  width: 100%;
}

.result {
  max-width: 18rem;
  padding: .7rem;
  background-color: white;
  color: var(--clr-nt-600);
  border-radius: 0;
}

.result + .result {
  margin-top: 1rem;
}

.result p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: .5rem 0;
}

.result hr {
  margin: 0;
  width: 100%;
}

.result a {
  margin: .5rem 0;
  text-align: left;
  color: var(--clr-prm-high);
}

.result button {
  background-color: var(--clr-prm-high);
  color: white;
  padding: .5rem;
  border-radius: .5rem;
}

.socials {
  flex-direction: row;
  padding: 1rem;
  color: white;
}

.socials li {
  padding: 1rem;
}

#statistics {
  background-color: var(--clr-nt-200);
}

#statistics .card {
  background-color: white;
  width: 90%;
  max-width: 23.25rem;
}

.gap {
  height: 6rem;
}

.gap-s {
  height: 3rem;
}

.button:hover {
  background-color: var(--clr-prm-high-sel);
}

#nav-links a:hover {
  color: var(--clr-nt-100);
}

footer a {
  color: var(--clr-nt-400);
}

footer a:hover {
  color: var(--clr-prm-high);
}

@media screen and (min-width: 768px){
  /* change nav here */
  header, main {
    padding-left: 2rem;
  }

  header {
    padding-right: 2rem;
  }

  nav.container {
    max-width: 58rem;
  }

  nav ul {
    width: 100%;
  }

  #nav-links {
    width: 100%;
    justify-self: flex-start;
  }

  nav ul.container,
  nav ul .container{
    flex-direction: row;
    align-items: center;
  }

  #nav-links {
    justify-self: flex-start;
  }

  #signup-links {
    justify-self: flex-end;
    width: 50%;
  }

  nav .signup {
    width: 100%;
    padding: .5rem 1rem;
  }

  /* change call to */ 
  .container.call-to {
    margin-top: 4rem;
    max-width: 60rem;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 3rem;
    overflow: hidden;
  }
  
  .call-to img {
    transform:scale(1.5);
  }

  .call-to .content {
    margin: 1rem;
    max-width: 28rem;
    text-align: left;
  }

  .call-to h1 {
    margin: 0;
    max-width: 25rem;
    font-size: 3rem;
    line-height: 3.5rem;
  }

  .call-to a {
    margin: 0;
  }

  /* change form  */
  #link-form {
    max-width: 45rem;
  }

  #link-form.container {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 2rem;
  }

  #link-form input {
    width: 100%;
    margin: 0;
  }

  #link-form button {
    width: 30%;
  }

  #link-form * + button {
    margin-left: 1rem;
  }
  /*  */

  /* change stats section  */
  .stat-cards {
    flex-direction: row;
    max-width: 75rem;
  }

  .stats img{
    transform: translate(-200%, -90%);
  }

  .stat {
    max-width: 30rem;
  }

  .stat-cards .stats:first-child {
    transform: translateY(-20%);
  }

  .stat-cards .stats:last-child {
    transform: translateY(20%);
  }

  .stats {
    min-width: 15rem;
    max-width: 21rem;
  }

  .stat h3 {
    font-size: 2rem;
  }

  .banner {
    max-width: 90rem; 
    background-image: url("./images/bg-boost-desktop.svg");
  }

  /* change footer  */
  footer.container {
    flex-direction: row;
    align-items: flex-start;
    padding: 4rem;
  }

  footer h3 {
    margin: 0 auto;
  }

  footer .socials {
    flex-direction: column;
    padding-top: 0;
    margin-top: 0;
  }

  .footer-links {
    margin: 0 2rem;
    text-align: left;
  }
}

@media screen and (min-width:1000px) {
  footer .socials {
    flex-direction: row;
  }
}